# Language in which to display content (see available ones in the /localization folder)
LOCALE=en

# Tested with only Arma 3 - may break if used for something else
GAME_TYPE=arma3
GAME_IP=
GAME_PORT=2302
GAME_QUERY_PORT=2303

# Channel where to post into (leave blank to not post into any channel)
DISCORD_CHANNEL_ID=

# Rich Embed colors for message types
STATUS_COLOR_OK=3779158
STATUS_COLOR_ERROR=14370117

# Time to recheck the server status (in minutes)
TIME_TO_CHECK_MINUTES=1

# Refresh command (to refresh current server data)
REFRESH_COMMAND=!update

# Maximum allowed times to refresh info when has a failure to get the data before classifying it as a fail
MAXIMUM_REFRESH_FAILURES=3

# Bot secret from Discord
SECRET=